.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  .item {
    border: 1px solid coral;
    height: 450px;
    width: 200px;
  }
  .img {
    border-bottom: 1px solid coral;
    width: 100%;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 4px;
  
 .name {
    text-align: center;
    margin: 10px auto;
 }
  }
  .character {
    text-align: center;
    margin: 10px 5px 0px 5px;
  }
  
   